.ant-page-header {
    height: 47px;
    border-bottom: 1px solid #d8d8d8;
}

.ant-page-header {
    padding: 0;
}

.ant-page-header-back {
    margin: 0;
    margin-left: 16px;
    line-height: 47px;
}

.ant-page-header-heading {
    width: 100%;
}

.ant-page-header-heading-title {
    width: 70%;
    height: 100%;
    font-size: 18px;
    padding: 0;
    line-height: 47px;
    margin-left: 30px;
    font-weight: normal;
    display: inline-block;
    text-align: center !important;
}

.ant-page-header-heading-extra {
    display: block;
    width: 30px;
    float: right;
    padding: 0;
    margin-right: 10px;
    position: relative;
}

.ant-btn {
    padding: 3px 6px;
    background: #fff;
    border: none;
}

.login-btn {
    width: 48px;
    height: 23px;
    border: 1px solid #da0000;
    font-size: 14px;
    color: #da0000;
    margin-right: 3px;
}

.login-btn:hover {
    border: 1px solid #da0000;
    color: #da0000;
}

.ant-dropdown-menu {
    width: 130px;
    height: 250px;
    background-color: rgba(0, 0, 0, .65);
    position: absolute;
    right: 0px;
    text-align: center;
    padding: 0;
}

.ant-dropdown-menu-item {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ant-dropdown-menu-item>a {
    display: block;
    width: 106px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #fff;
    border-bottom: 1px solid;
    box-sizing: border-box;
    padding: 0;
    margin-top: -5px;
}

.cartImg {
    width: 26px;
    height: 24px;
    margin-right: 10px;
}

.cartImg4 {
    width: 26px;
    height: 24px;
    margin-right: 20px;
}