.footer-cart {
    width: 100%;
    height: 1.2rem;
    background: #414141;
    padding: .2rem .35rem .2rem .30rem;
}

.cart-left {
    float: left;
    width: 1.96rem;
}

.leftImg {
    width: .98rem;
    height: .25rem;
}

.ant-btn-background-ghost {
    width: .85rem;
    height: .25rem;
    margin-left: .1rem;
    border: .003rem solid #ccc;
    box-sizing: border-box;
    margin-top: .03rem;
}

.text1 {
    font-size: .12rem;
    height: .12rem;
    color: #aaa;
    margin-bottom: .04rem;
}

.cart-right {
    float: right;
    width: .60rem;
    margin-right: .25rem;
}

.rightImg {
    width: .58rem;
    height: .58rem;
}

.footer-text {
    font-size: .13rem;
    color: #aaa;
    text-align: center;
    margin-top: .05rem;
}