.ant-page-header {
    height: .47rem;
    border-bottom: .01rem solid #d8d8d8;
}

.ant-page-header {
    padding: 0;
}

.ant-page-header-back {
    margin: 0;
    margin-left: .16rem;
    line-height: .47rem;
}

.ant-page-header-heading {
    width: 100%;
}

.ant-page-header-heading-title {
    width: 70%;
    height: 100%;
    font-size: .18rem;
    padding: 0;
    line-height: .47rem;
    margin-left: .30rem;
    font-weight: normal;
    display: inline-block;
    text-align: center !important;
}

.ant-page-header-heading-extra {
    display: block;
    width: .30rem;
    float: right;
    padding: 0;
    margin-right: .10rem;
    position: relative;
}

.ant-dropdown-trigger {
    padding: .03rem .06rem;
    background: #fff;
    border: none;
    margin-top: .05rem;
}

.login-btn {
    width: .48rem;
    height: .23rem;
    text-align: center;
    padding: 0;
    border: .01rem solid #da0000;
    font-size: .14rem;
    color: #da0000;
    margin-right: .03rem;
}

.login-btn:hover {
    border: .01rem solid #da0000;
    color: #da0000;
}

.ant-dropdown-menu {
    width: 1.30rem;
    height: 2.50rem;
    background-color: rgba(0, 0, 0, .65);
    position: absolute;
    right: 0;
    text-align: center;
    padding: 0;
}

.ant-dropdown-menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: .50rem;
}

.ant-dropdown-menu-item>a {
    display: block;
    width: 1.06rem;
    height: .50rem;
    line-height: .50rem;
    font-size: .16rem;
    color: #fff;
    margin: 0;
    padding: 0;
    border-bottom: .01rem solid;
}

.cartImg {
    width: .20rem;
    height: .18rem;
    margin-right: .10rem;
}

.cartImg4 {
    width: .20rem;
    height: .18rem;
    margin-right: .2rem;
}