.searchHeader {
    background: #fff;
    padding: 0;
    height: .52rem;
}

.searchContent {
    height: 4.12rem;
}

.searchFooter {
    background: #fff;
}

.footer-img {
    width: .60rem;
    height: .60rem;
    position: fixed;
    left: .15rem;
    bottom: .30rem;
}