.room{
    width: 100%;
    background: #fff;
    margin-top: .05rem;
}
.room .title{
    width: 100%;
    padding: .21rem 0 .21rem 0;
    font-size: .16rem;
    color: #333;
    font-weight: bolder;
    line-height: .1875rem;
    display: flex;
    justify-content: center;
}
.room .title i{
    width: .1875rem;
    height: .1875rem;
    margin-left: .05rem;
}